 [class^="col"] {
     border: 1px solid red;
} 
 
body {
     background-color: #D9DBD5;
}

/* utility */
.header-contact {
     height: 50px;
}

time{
    color: cadetblue;
}

i {
     color: cadetblue;
     cursor: pointer;
}

.b-radius-10{
    border-radius: 10px;
}

figure {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     overflow: hidden;
}

img {
     width: 100%;
}

.h-400{
    height: 456px;
    overflow: auto;
}

.h-500{
    height: 515px;
    overflow: auto;
}

/* background chat */
.bg-body-chat {
     background-image: url('../img/mine.jpg');
     background-position: center;
}

/* color */
.bg-whitelight {
     background-color: #EAEAEA;
}

.bg-azure {
     background-color: #8EDAFC;
}

.bg-white-pink {
     background-color: #E9EBEB;
}



.sent{
  background-color: #D5F9BA;   
}

.received{
  background-color: white;   
}